body{
    margin: 0;
}
a{
    text-decoration: none !important;
}
a:hover {
    text-decoration: none !important;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
.navBar{
    margin: 0;
    width: 100%;
    height: auto; 
    overflow: hidden; 
    background-color: #EE3340; 
}
.navBar-item{
    background-color: #EE3340;
    height: 4rem;
    padding-top: 20px;
}
/* responsive para navbar superior */
@media (max-width: 992px) {
    .navBar-itemSuperior {
      background-color: #E02F3C;
      padding-left: 10%;
      height: 2.5rem;
      padding-top: 0.5rem;
    }
}
.navBar-link{
    color: #FCFCFC;
    display: inline;
    text-align: center;
    font-size: 1rem;
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
}
.navBar-logo{
    width: 6.5rem;
    height: auto;
}
.navBar-icono{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2rem;
}
@media (max-width: 340px){
    .text-nav{
        font-size: 13px !important; 
    } 
}
.bannerPrincipal{
    position: relative;
    width: 100%;
    height: calc( 100vh - 60px);
    background-color: #000;
    background-image: url("../img/banner-header.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}
.bannerPrincipal-logo{
    width: 100%;
    height: auto;
}
.bannerPrincipal-parrafo{
    margin-top: 3rem;
    font-size: 1.2rem;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
 /* responsive para banner principal */
 @media (max-width: 767.98px) {
    .bannerPrincipal {
        background-image: url("../img/banner-header-mobile.jpg"); 
        height:55vh;
    }
    .bannerPrincipal-parrafo{
        font-size: 14px;
        text-align: justify; 
    }
    
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .bannerPrincipal {
        background-image: url("../img/banner-header-mobile.jpg"); 
        height:40vh;
    }
    .bannerPrincipal-logo{
        width: 50%;
        height: auto;
        display: block;
        margin: auto;
    }
    .bannerPrincipal-parrafo{
        font-size: 14px;
        text-align: center; 
    }
}
@media (max-height: 500px){  
    .bannerPrincipal {
        /* background-image: url("../img/banner-header-mobile.png");  */
        height:95vh;
    }    
}

/* ajustes formulario contacto */
.bannerPrincipal-formulario{
    margin-top: 1rem;
    margin-left: 5rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    background-color: #fff;
    max-width: 35% !important;
}
.bannerPrincipal-mensaje{
    margin-top: 1rem;
    margin-left: 5rem;
    width: 60%;
    height: 70%;
    background-color: #fff;
    max-width: 35% !important;
}
.mensaje-contenido{
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mensaje-parrafo{
    font-family: 'Open Sans', sans-serif;
    color: #26316D;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
}
.mensaje-imagen{
    width: 4rem;
    height: 4rem;
    margin: auto;
    margin-bottom: 1rem;

}
.formulario-titulo{
    color: #26316D;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}
.mauticform-row{
    margin-bottom: 0.5rem;
}
.mauticform-input , .mauticform-textarea{
    color: #26316D;
    border-radius: 10px;
    border: 1px solid #A7A7A7 !important;
    border-color:#26316D ;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
} 
.mauticform-button{
    background-color: #EE3340 !important;
     width: 17rem;
    height: 3rem;
    border-radius: 1.5rem !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #fff !important;
    text-align: center;
    margin-left: 9%;
}
.mauticform-button:hover{
    background-color: #E02F3C !important;
}
@media (max-width: 767.98px) {
    .bannerPrincipal-mensaje{
        margin-top:5%;
        margin-bottom: 10%;
        margin-left: 0.5rem;
        width: 100%;
        height: 70%;
        background-color: #fff;
        max-width: 100% !important;
    }
    .mensaje-contenido{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .formulario-movil{
        margin-top: 1rem;
        padding: 1rem 2rem 1rem 2rem;
    }
    .mauticform-input , .mauticform-textarea{
        
        border-radius: 10px;
        padding-left: 1.5rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 1rem !important;
    }
    .mauticform-button{
        background-color: #EE3340 !important;
        width: 100%;
        height: 4rem;
        border-radius: 1.5rem !important;
        font-family: 'Open Sans', sans-serif !important;
        color: #fff !important;
        text-align: center;
        margin-left: 1%;
        font-size: 1rem;
    } 

}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .bannerPrincipal-mensaje{
        margin-top: 15%;
        margin-bottom: 20%;
        margin-left: 0.5rem;
        width: 100%;
        height: 70%;
        background-color: #fff;
        max-width: 100% !important;
    }
    .mensaje-contenido{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .formulario-movil{
        margin-top: 2rem;
        padding: 1rem 1rem 1rem 3rem;
    }
    .formulario-titulo{

        padding-left: 5%;
        padding-right: 5%;
    }
    .mauticform-input , .mauticform-textarea{
        
        border-radius: 10px;
        padding-left: 1.5rem;
        padding-top: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        font-family: 'Open Sans', sans-serif !important;
        font-size: 1rem !important;
    }
    .mauticform-button{
        background-color: #EE3340 !important;
        /* padding: 1rem 10rem 1rem 10rem !important; */
        width: 33rem;
        height: 3.5rem;
        margin-top: 10px;
        border-radius: 1.5rem !important;
        font-family: 'Open Sans', sans-serif !important;
        color: #fff !important;
        text-align: center;
        margin-left: 1%;
        font-size: 1rem;
    } 
}

/* fin ajustes formulario contacto */

.container-carouselFirepro{
    padding-top: 6rem;
    padding-bottom: 7rem;
    background-color: #FFF;
}
.carousel-item-titulo{
    color: #26316D;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
}
.carousel-item-parrafo{
    color: #26316D;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    text-align: justify;
}
.carousel-item-imagen{
    margin: auto;
    width: 100%;
    height: auto;
}
/* responsive para carrusel firepro */
@media (max-width: 767.98px) {
    .carousel-item-titulo{
        text-align: justify;
        padding-left:3%;
    }
    .carousel-item-parrafo{
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .carousel-item-parrafo{
        font-size: 14px;
    }
}
.carousel-indicators{
    top: 100%
}
.carousel-indicators li{
    background-color: rgb(59, 58, 58);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.sliderServicios{
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin:0;
    width: 100%;
    background-color: #F8F8F8;
}
.carousel-innerServicios{
padding-left: 8rem;
padding-right: 8rem;
}
.slider-titulo{
    font-family: 'Open Sans', sans-serif;
    color: #26316D;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500 ;
    margin-bottom: 2rem;
}
.slider-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    padding-left: 3%;
    padding-right:3%;
}
.slider-card-img{
    margin:auto;
    width: 5rem;
    height: auto;
    padding-bottom: 1rem;
}
.slider-card-titulo{
    font-family: 'Open Sans', sans-serif;
    color: #26316D;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}
.slider-card-parrafo{
   font-family: 'Open Sans', sans-serif;
   color: #A7A7A7;
   text-align: center; 
   font-size: 1rem;
   text-align: justify;
}
/* responsive para carrusel servicios */
@media (max-width: 767.98px) {
    .carousel-innerServicios{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 

}
.bannerInferior{
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: #000;
    background-image: url("../img/banner-inferior.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}
.bannerInferior-logo{
    width: 80%;
    height: auto;
}
.bannerInferior-parrafo{
    font-size: 22px;
    color: #26316D;;
    font-family: 'Open Sans', sans-serif;
}
/* responsive para  banner inferior */
@media (max-width: 767.98px) {
    .bannerInferior{
        background-image: url("../img/banner-inferior-mobile.jpg");
    }
    .btn-danger{   
        padding: 0.7rem 0.5rem 0.7rem 0.5rem;     
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .bannerInferior{
        background-image: url("../img/banner-inferior-mobile.jpg");
    }
}
@media (max-height: 500px){  
    .bannerInferior {    
        height: 100vh;
    }    
}
.footer{
    margin: 0;
    width: 100%;
    height: auto; 
    overflow: hidden; 
}
.btn-danger{
    background-color: #EE3340;
    padding: 0.7rem 3.5rem 0.7rem 3.5rem;
    border-radius: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}
.carousel-control-prev-icon {
    background-image: url("../img/control-prev.svg")
}
.carousel-control-next-icon {
    background-image: url("../img/control-next.svg")
}
@media (max-width: 767.98px) {
    .btn-danger{ 
        padding: 0.7rem 2rem 0.7rem 2rem; 
    }
    .carousel-control-prev, .carousel-control-next{
        padding-top: 8rem;
        align-items: flex-start;
    }
}
::-webkit-input-placeholder { color: #26316D; font-family: 'Open Sans' , sans-serif } 

:-moz-placeholder { /* Firefox 18- */ color: #26316D; font-family: 'Open Sans' , sans-serif } 

::-moz-placeholder { /* Firefox 19+ */ color: #26316D; font-family: 'Open Sans' , sans-serif } 

:-ms-input-placeholder { color: #26316D; font-family: 'Open Sans' , sans-serif }

::-webkit-input-placeholder { color: #26316D; font-family: 'Open Sans' , sans-serif } 
 
:-moz-placeholder { /* Firefox 18- */ color: #26316D; font-family: 'Open Sans' , sans-serif } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #26316D; font-family: 'Open Sans' , sans-serif } 
 
:-ms-input-placeholder { color: #26316D; font-family: 'Open Sans' , sans-serif }  